.zanata-cache/
_build
TAGS
tags
vgdump
*.swp
*~
\#*#
.\#*
.vscode/
*.gcov
po/missing
po/phosh-osk-stub.pot
debian/files
debian/*.substvars
debian/*debhelper*
debian/phosh-osk-stub/
debian/phosh-osk-stub-doc/
debian/tmp/
